@page
@model IndexModel
@using RazorSol.Models
@{
    ViewData["Title"] = "Home page";
    Layout = "Shared/_Layout";
}

    <h4>Featured Products </h4>

           
<ul class="thumbnails">
    @foreach(var product in Model.FeaturedProducts)
        {
            Product p = (Product) product;
            Photo photo = p.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
            string photoName = photo == null ? "no-img.png" : photo.Name;

            <li class="span3">
                <div class="thumbnail">
                    <i class="tag"></i>
                    <a asp-page="details" asp-route-id="@product.Id"><img src="~/product/@photoName" alt=""></a>
                    <div class="caption">
                        <h5>@p.Name</h5>
                        <p>
                            @p.Description
                        </p>

                        <h4 style="text-align:center"><a class="btn" asp-page="details" asp-route-id="@product.Id">
                             <i class="icon-zoom-in"></i>
                        </a> <a class="btn" asp-page="cart" asp-page-handler="buynow"  asp-route-id="@product.Id">
                            Add to <i class="icon-shopping-cart"></i>
                        </a> <a class="btn btn-primary" asp-page="details" asp-route-id="@product.Id">$@p.Price</a></h4>
                    </div>
                </div>
            </li>
        }
                            
</ul>

<h4>Latest Products </h4>
<ul class="thumbnails">
    @foreach(var product in Model.LatestProducts)
    {
        Product p = (Product) product;
        Photo photo = p.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
        string photoName = photo == null ? "no-img.png" : photo.Name;

        <li class="span3">
            <div class="thumbnail">
                <i class="tag"></i>
                <a asp-page="details" asp-route-id="@product.Id"><img src="~/product/@photoName" alt=""></a>
                <div class="caption">
                    <h5>@p.Name</h5>
                    <p>
                        @p.Description
                    </p>

                    <h4 style="text-align:center"><a class="btn" asp-page="details" 
                                                     asp-route-id="@product.Id"> <i class="icon-zoom-in"></i></a> 
                        <a class="btn" asp-page="cart" asp-page-handler="buynow" asp-route-id="@product.Id">
                        Add to <i class="icon-shopping-cart"></i>
                    </a> <a class="btn btn-primary" asp-page="details"
                            asp-route-id="@product.Id">$@p.Price</a></h4>
                </div>
            </div>
        </li>
    }
</ul>
